<!-- TODO: make the footer a 3 column responsive layout -->
<footer class="py-5">
    <nav>
        <div class="container py-4 pl-4">
            <div class="row">
                <div class="mb-4 col-sm">
                    <img src="assets/images/LG-mark.png" style="height: 33px;">
                </div>

                <div class="mb-4 col-sm">
                    <h5>About</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Learn More</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>

                <div class="mb-4 col-sm">
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>

                <div class="mb-4 col-sm-5">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Sales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>