<!-- TODO: make the footer a 3 column responsive layout -->
<footer>
    <nav class="bg-secondary">
        <div class="container py-4 pl-4">
            <div class="row justify-content-center">
                <div class="col-sm">
                    <h5>About</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Learn More</a></li>
                        <li><a href="#" class="text-dark">People</a></li>
                        <li><a href="#" class="text-dark">Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Docs</a></li>
                        <li><a href="#" class="text-dark">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Help</a></li>
                        <li><a href="#" class="text-dark">Sales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>