<!-- TODO: make the header a responsive navigation menu with responsive layout -->
<!-- Create a link to the people component/page -->
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container p-0">
          <a class="navbar-brand text-dark" href="#">
            <img src="assets/images/LG-mark.png" style="height: 33px; padding-right: 9px;">
            <img src="assets/images/landgate.png" style="width: 143px; height: 20px;">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarMobile"
            aria-controls="navbarMobile"
            aria-expanded="true"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarMobile">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" [ngClass]="{'active underline': path === homePath}">
                <a class="nav-link" [routerLink]="homePath">Home</a>
              </li>
              <li class="nav-item" [ngClass]="{'active underline': path === peoplePath}">
                <a class="nav-link" [routerLink]="peoplePath">People</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
