<section>
    <div class="hero d-flex flex-column justify-content-center align-items-center text-white">
        <h1>LandGate Test</h1>
        <h3>by Taylor Hakes</h3>
    </div>

    <section _ngcontent-serverapp-c40="" class="container-xl success-story"
        style="margin-top: 70px; margin-bottom: 70px;">
        <div _ngcontent-serverapp-c40="" style="margin-bottom: 70px;">
            <div _ngcontent-serverapp-c40="" style="display: flex; align-items: center; justify-content: center;"><img
                    _ngcontent-serverapp-c40="" src="/assets/images/meta-logo.png"
                    style="width: 150px; margin-right: 20px;"><img _ngcontent-serverapp-c40=""
                    src="/assets/images/google-logo.png" style="width: 150px; margin-left: 20px;"></div>
            <div _ngcontent-serverapp-c40="" style="display: flex; align-items: center; justify-content: center;"><img
                    _ngcontent-serverapp-c40="" src="/assets/images/five-stars.png" style="width: 300px;"></div>
        </div>
        <div _ngcontent-serverapp-c40="" id="carousel-example" data-ride="carousel" class="carousel slide"
            style="height: 300px;">
            <div _ngcontent-serverapp-c40="" role="listbox" class="carousel-inner row justify-content-center w-100 mx-auto">
                <div _ngcontent-serverapp-c40="" class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4 active">
                    <div _ngcontent-serverapp-c40=""><i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-left mr-3 text-success>"></i> Taylor is the kind of web developer that
                            can do anything he puts his mind to. <i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3 _ngcontent-serverapp-c40=""> Taylor's Mom </h3>
                </div>
                <div _ngcontent-serverapp-c40="" class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div _ngcontent-serverapp-c40=""><i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-left mr-3 text-success>"></i> You have no idea how high Taylor can fly. <i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3 _ngcontent-serverapp-c40=""> Michael Scott </h3>
                </div>
                <div _ngcontent-serverapp-c40="" class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div _ngcontent-serverapp-c40=""><i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-left mr-3 text-success>"></i> If I had to hire either Elon Musk,
                            LeBron James, or Taylor Hakes to make me money - I'd hire Taylor 3 times. <i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3 _ngcontent-serverapp-c40=""> Bill Gates </h3>
                </div>
                <div _ngcontent-serverapp-c40="" class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div _ngcontent-serverapp-c40=""><i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-left mr-3 text-success>"></i> Taylor is the most impressive, thourough,
                            upstanding software engineer this side of the Mississippi. <i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3 _ngcontent-serverapp-c40=""> Everyone East and West of the Mississippi </h3>
                </div>
                <div _ngcontent-serverapp-c40="" class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div _ngcontent-serverapp-c40=""><i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-left mr-3 text-success>"></i> If I had a dollar every time Taylor nailed
                            his assignment, I would have retired last year. <i
                            _ngcontent-serverapp-c40="" class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3 _ngcontent-serverapp-c40=""> Taylor's Last Manager </h3>
                </div>
                <div _ngcontent-serverapp-c40="" class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div _ngcontent-serverapp-c40=""><i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-left mr-3 text-success>"></i> Taylor displays a profound level of mastery when it comes to front end frameworks like Angular. Passing him up would be like using your winning lottery ticket for kindling. <i
                            _ngcontent-serverapp-c40="" class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3 _ngcontent-serverapp-c40=""> Google CEO, Sundar Pichai </h3>
                </div>
                <div _ngcontent-serverapp-c40="" class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div _ngcontent-serverapp-c40=""><i _ngcontent-serverapp-c40=""
                            class="fa fa-quote-left mr-3 text-success>"></i> You're hired! <i
                            _ngcontent-serverapp-c40="" class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3 _ngcontent-serverapp-c40=""> You, very soon </h3>
                </div>
            </div><a _ngcontent-serverapp-c40="" href="#carousel-example" role="button" data-slide="prev"
                class="carousel-control-prev"><span _ngcontent-serverapp-c40="" aria-hidden="true"
                    class="carousel-control-prev-icon"></span><span _ngcontent-serverapp-c40=""
                    class="sr-only">Previous</span></a><a _ngcontent-serverapp-c40="" href="#carousel-example"
                role="button" data-slide="next" class="carousel-control-next"><span _ngcontent-serverapp-c40=""
                    aria-hidden="true" class="carousel-control-next-icon"></span><span _ngcontent-serverapp-c40=""
                    class="sr-only">Next</span></a>
        </div>
    </section>
</section>