<section>
    <div class="hero d-flex flex-column justify-content-center align-items-center text-white">
        <h1>LandGate Test</h1>
        <h3>by Taylor Hakes</h3>
    </div>

    <section class="container-xl success-story"
        style="margin-top: 70px; margin-bottom: 70px;">
        <div style="margin-bottom: 70px;">
            <div style="display: flex; align-items: center; justify-content: center;"><img
                    src="assets/images/meta-logo.png"
                    style="width: 150px; margin-right: 20px;"><img
                    src="assets/images/google-logo.png" style="width: 150px; margin-left: 20px;"></div>
            <div style="display: flex; align-items: center; justify-content: center;"><img
                    src="assets/images/five-stars.png" style="width: 300px;"></div>
        </div>
        <div id="carousel-example" data-ride="carousel" class="carousel slide"
            style="height: 200px;">
            <div role="listbox" class="carousel-inner row justify-content-center w-100 mx-auto">
                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4 active">
                    <div><i
                            class="fa fa-quote-left mr-3 text-success>"></i> Taylor is the kind of web developer that
                            can do anything he puts his mind to. <i
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3> Taylor's Mom </h3>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div><i
                            class="fa fa-quote-left mr-3 text-success>"></i> You have no idea how high Taylor can fly. <i
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3> Michael Scott </h3>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div><i
                            class="fa fa-quote-left mr-3 text-success>"></i> If I had to hire either Elon Musk,
                            LeBron James, or Taylor Hakes to make me money - I'd hire Taylor 3 times. <i
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3> Bill Gates </h3>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div><i
                            class="fa fa-quote-left mr-3 text-success>"></i> Taylor is the most impressive, thorough,
                            upstanding software engineer this side of the Mississippi. <i
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3> Everyone East and West of the Mississippi </h3>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div><i
                            class="fa fa-quote-left mr-3 text-success>"></i> If I had a dollar every time Taylor nailed
                            his assignment, I would have retired last year. <i
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3> Taylor's Last Manager </h3>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div><i
                            class="fa fa-quote-left mr-3 text-success>"></i> Taylor displays a profound level of mastery when it comes to front end frameworks like Angular. Passing him up would be like using your winning lottery ticket for kindling. <i
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3> Google CEO, Sundar Pichai </h3>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-4">
                    <div><i
                            class="fa fa-quote-left mr-3 text-success>"></i> You're hired! <i
                            class="fa fa-quote-right mr-3 text-success>"></i></div>
                    <h3> You, very soon </h3>
                </div>
            </div><a href="#carousel-example" role="button" data-slide="prev"
                class="carousel-control-prev"><span aria-hidden="true"
                    class="carousel-control-prev-icon"></span><span
                    class="sr-only">Previous</span></a><a href="#carousel-example"
                role="button" data-slide="next" class="carousel-control-next"><span
                    aria-hidden="true" class="carousel-control-next-icon"></span><span
                    class="sr-only">Next</span></a>
        </div>
    </section>
</section>