<div class="container px-0">
    <div class="card p-2 p-md-3 mb-3">
        <div class="row align-items-center">
            <div class="col-5 col-sm-7 sm-row">
                <p class="col-12 col-sm-8 h6 mb-0">
                    {{ person.firstName }} {{ person.lastName }}
                </p>
                <div class="col-12 col-sm-4">
                    <span style="font-size: 11px;">age: </span>{{ person.age }}
                </div>
            </div>
            <div class="col-5 col-sm-4">
                {{ person.jobTitle }}
            </div>
            <div class="col-2 col-sm-1 d-flex justify-content-end">
                <i class="fa fa-ellipsis-h mr-2"></i>
            </div>
        </div>
    </div>
</div>